Source: test
Section: admin
Priority: optional
Maintainer: Alexandre Detiste <alexandre.detiste@gmail.com>
Build-Depends:
    debhelper-compat (= 13),
    dh-sequence-cruft,
Standards-Version: 4.6.1.0
Rules-Requires-Root: no

Package: test
Architecture: all
Depends:
  ${misc:Depends},
Description: some test data for dh-cruft
 more text1
 more text2

Package: test-cruft
Architecture: all
Depends:
  ${misc:Depends},
Description: some test data for dh-cruft
 more text1
 more text2

Package: test-purge
Architecture: all
Depends:
  ${misc:Depends},
Description: some test data for dh-cruft
 more text1

Package: corpus
Architecture: all
Depends:
  ${misc:Depends},
Description: some test data for dh-cruft
 corpus of all known rules

Package: firebird3.0-server
Architecture: all
Depends:
  ${misc:Depends},
Description: some test data for dh-cruft
 test for templating: automatic replacement of #VERSION#
